{% extends 'layout.html' %}

{% block content %}
{% if tasks %}
	<div class="section">
		{% for task, task_description in tasks.items() %}
		{% if task != 'session'%}

		<div class="task">
		<div class="title">                                                                         			
			{{ task }}
		</div>                                                                                      			
		<div class="content">                                                                       			
			<p class="content-text">{{ task_description }}</p>                 			
			<div class="content-mod">                                                               			
				<div class="update-btn-div">                                                        			
					<a href="{{ url_for('updateTask', title=task) }}"><button class="btn btn-outline-dark btn-update">Update</button></a>				
				</div>                                                                              			
				<div class="delete-btn-div">                                                        			
					<a href="{{ url_for('deleteTask', title=task) }}"><button class="btn btn-outline-dark btn-delete">Delete</button></a>  			
				</div>                                                                              			
			</div>		                                                                          			
		</div>                                                                                      			
		</div>

		{% endif %}
		{% endfor %}
	</div>

{% else %}
	<div class="no-task">
		<span>No tasks available yet!</span>
	</div>
{% endif %}	
<div class="create-button">
		<div class="fa-wrapper">
			<a href="{{ url_for('createTask') }}"><i class="fas fa-plus"></i></a>
		</div>
	</div>
{% endblock %}
